/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Noto Sans KR', sans-serif;
}

ul {
    list-style: none;
}
a {
    color:inherit;
    text-decoration: none;
}
.cf::after {
    content:''; display:block; clear:both;
}

img {
    max-width: 100%;
    vertical-align: middle;
}
.row {
    max-width: 1289px;
    margin: 0 auto;
}
/* 기본셋 */
#header {
    background-color: rgba(00, 00, 00, 0.47);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}
#header .row h1 {
    float: left;
    padding: 15px 0;
    height: 81px;
}

#header .row .nav {
    float: right;
    color: white;
}

#header .nav .depth1 > li {
    font-size: 18px;
    float: left;
    margin-left: 48px;
    position: relative;
    border-top: 4px solid transparent;
}
#header .nav .depth2 {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background-color: #fff;
    color: #000;
    /* display: none; */
    border-top: 3px solid #45639d;
    display: none;
}
#header .nav .depth2 > li > a {
    display: block;
    padding: 12px 20px;
    font-size: 14px;
    color: #212934;
}
#header .nav .depth1 > li > a {
    display: block;
    height: 81px;
    line-height: 81px;
    /* height: 81px;
    line-height: 81px; */
}
#header .nav .depth2 > li > a:hover {
    background-color: #f9f9fb;
}
#header .nav .depth1 > li:hover .depth2 {
    display: block;
}
#header .nav .depth1 > li a:hover {
    color: #45639D;
    transition: 0.3s;
}
#section .slide {
    position: relative;
}
#section .silde img {
    width: 100%;
}
#section .slide .text {
    width: 100%; /*자식의 글씨크기가 커서 두줄로 되면 이 속성 추가*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    color: white;
    text-align: center;
}
#section .slide .text h2 {
    font-size: 100px;
    text-shadow: 4px 1px black;
}
#section .slide .text p {
    font-size: 22px;
    font-weight: 200;
    margin: 15px 0 60px;
}
#section .slide .text a {
    font-size: 17px;
    color: #58aedd;
    background-color: white;
    padding: 12px 35px;
    border-radius: 50px;
}




#section .business ul {
    overflow: hidden;
}
#section .business ul li {
    float: left;
    width: 25%;
    text-align: center;
    height:600px;
    padding: 100px 30px;
}
#section .business ul li:nth-child(2),
#section .business ul li:nth-child(4){
    background-color: #EDF0F4;
}
#section .business ul li img {
    border-bottom: 2px solid #E0DEDE;
    padding: 20px 40px;
    margin-bottom: 50px;
}
#section .business ul li h3 {
    font-size: 30px;
    color: #333
}
#section .business ul li h3 span {
    display: block;
    font-weight: 200;
    margin: 20px 0px 40px;
}
#section .business ul li a {
    font-size: 14px;
    font-weight: 200;
    color: #fff;
    padding: 13px 29px;
    border:2px solid #45639D;
    background-color: #45639D;
    border-radius: 5px;
    transition: all 0.3s
}
#section .business ul li a:hover {
    background-color: #fff;
    color: #45639D;
}




#section .product {
    background : url(../images/product_bg.jpg) center / cover;
    padding: 100px 0;
}
#section .product .row {
    overflow: hidden;
}
#section .product .text {
    float: left;
    width: 50%;
    color: #fff;
    font-weight: 200;
}
#section .product .photo {
    float: left;
    width: 50%;
    text-align: center;
    padding-top: 70px;
}
#section .product .text h2 {
    font-size: 70px;
    font-weight:normal;
}
#section .product .text p {
    font-size: 24px;
    margin: 30px 0;
    line-height: 1.4em;
}
#section .product .text .btn a {
    font-size: 14px;
    padding: 10px 30px;
    border: 2px solid #fff;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
}
#section .product .text .btn a:nth-child(1) {
    background-color: #fff;
    color: #333;
}




#section .customer {
    background-color: #edf0f4;
    padding: 50px 0;
    margin: 0 ;
    text-align: center;
}
#section .customer .row {
    overflow: hidden;
}

#section .customer .row h2 {
    font-size: 70px;
    color: #333;
    margin-bottom: 30px;
    font-weight: normal;
}
#section .customer .row span {
    width: 33.33%;
    float: left;
    padding: 0 15px;
}
#section .customer .row span img {
    border: 1px solid #ddd;
}





#footer .address {
    font-size: 16px;
    color: #666;
    background-color: #212934;
    padding: 30px 30px 34px;
}
#footer .address .row pre {
    font-family: "Noto Sans KR";
    line-height: 1.8em;
    margin: 16px 0px;
}

#footer .copyright {
    font-size: 13px;
    background-color: #1d242d;
    padding: 20px 30px;
    color: rgba(255, 255, 255, 0.66);
}
